[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
