[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
